## 1.	Create the following:
a.	empty series
b.	series from an array
c.	series from dictionary
d.	scalar series

In [5]:
# a. empty series
import pandas as pd
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-5-2d13fc988946>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [6]:
#b. series from an array
import numpy as np
data = np.array(['e','f','g','h'])
s1 = pd.Series(data)
print(s1)

0    e
1    f
2    g
3    h
dtype: object

In [7]:
#c. series from dictionary
import pandas as pd
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s2 = pd.Series(data)
print(s2)

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
#d. scalar series
import pandas as pd
s3 = pd.Series(5, index=[10, 11, 12, 13])
print (s3)

10    5
11    5
12    5
13    5
dtype: int64

## 2.	Create indexed series for above b-d points.

In [9]:
#b. series from an array
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[105,106,107,108])
print(s)

105    a
106    b
107    c
108    d
dtype: object

In [10]:
#c. series from dictionary
import pandas as pd
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [11]:
#d. scalar series
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

## 3.	Retrieve elements from the series using:
a.	Index names
b.	Index numbers
c.	Slicing

In [12]:
import pandas as pd
#retrieve the first element
print (s[0])

#retrieve a single element using index
print (s['a'])

#retrieve the first three element
print (s[:3])

#retrieve multiple elements
print (s[['a','c','d']])

1
1
a    1
b    2
c    3
dtype: int64
a    1
c    3
d    4
dtype: int64

## 4.	Create a DataFrame using the following:
a.	Empty DataFrame
b.	DataFrame using list
c.	DataFrame using dictionary
d.	DataFrame using series

In [13]:
#a. Empty DataFrame
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [14]:
#b. DataFrame using list
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [15]:
#c. DataFrame using dictionary
import pandas as pd
data = {'Name':['Tushar', 'Chirag', 'Sunny', 'Agastya'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

      Name  Age
0   Tushar   28
1   Chirag   34
2    Sunny   29
3  Agastya   42

In [18]:
#d. DataFrame using series
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## 5.	Create 3-4 four colums in a DataFrame for Q4 b-d points.

In [17]:
import pandas as pd
data = {'sno':[1,2,3,4],'Name':['Tushar', 'Chirag', 'Sunny', 'Agastya'],'Age':[2,4,9,2]}
df = pd.DataFrame(data)
print (df)

   sno     Name  Age
0    1   Tushar    2
1    2   Chirag    4
2    3    Sunny    9
3    4  Agastya    2

## 6.	Add index to all the rows in Q5.

In [19]:
data = {'Name':['Tushar', 'Chirag', 'Sunny', 'Agastya'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['roll1','roll2','roll3','roll4'])
print (df)

          Name  Age
roll1   Tushar   28
roll2   Chirag   34
roll3    Sunny   29
roll4  Agastya   42

## 7. Display all the values from the DataFrame mentioned in Q6 using index and index name for :
a.	Second row values
b.	Second column values

In [20]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)
print (df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

## 8.	Perform slicing by displaying 3rd and 4th row on the DataFrame.

In [21]:
df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

## 9.	Delete a row.

In [22]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df = df.drop('a')
print(df)

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

## 10.	Delete a column.

In [23]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print ("Deleting the first column using DEL function:")
del df['two']
print (df)

Deleting the first column using DEL function:
   one
a  1.0
b  2.0
c  3.0
d  NaN